.details, .details.bio {
    border-radius: 2rem;
    background-color: var(--color-white);
    padding: 2rem;

    dl {
        dt{
           font-size: 1.6rem;
           line-height: 1.4rem; 
           font-weight: var(--font-weight-bold);
           margin-bottom: 1.5rem;
        }

        dd {
            font-size: 1.4rem;
            line-height: 2.4rem;
            font-weight: var(--font-weight-book);
        }
    }
}