.header-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    min-height: 40rem;

    picture {
        img {
            height: 30rem;
            border-radius: 4rem;
            object-fit: cover; 
        }
    }
}

.header-content {
    padding: 1rem 0;
    max-width: 140rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .actions {
        width: 40rem;
        margin: -14rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
