.navigation {
    background-color: var(--color-white);
    padding: 1rem 0;
    display: flex;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-box {
            margin-right: 15rem;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                width: 2rem;
                height: 2rem;
                position: absolute;
                z-index: 1;
                left: 1rem;
                
                svg {
                    fill: var(--color-grey);
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                
                a {
                    padding: 0 2rem;
                    color: var(--color-black);
                    font-weight: var(--font-weight-medium);
                    transition: all ease-in-out .3s;

                    &:hover {
                        color: var(--color-bg);
                    }
                }
            }
        }
    }
}