:root {
	// fonts
	--font-weight-light: 		300;
	--font-weight-book:      	normal;
	--font-weight-medium: 		500;
	--font-weight-bold: 	    bold;

	--color-white:				#fff;
	--color-black:				#2c2b2b;
	--color-grey: 				#f3f3f4;
	--color-bg: 				#995a6a;
	


}